PORT=3000
HOST=0.0.0.0
TZ=Asia/Shanghai
WECHAT_API_URL=https://vip4.zj.etmcn.com/Ashx/WeiXin.ashx?action=GetCourse
WECHAT_REFERER_URL=https://vip4.zj.etmcn.com/WeiXin/selfLesson.aspx
WECHAT_OPEN_ID=replace-with-open-id
WECHAT_LIC=replace-with-lic
WECHAT_MEMBER_GUID=replace-with-member-guid
WECHAT_PAGE_TYPE=
DEFAULT_START_DAY=
CALENDAR_NAME=WeChat Course Schedule
SUBSCRIPTION_SECRET=replace-with-a-random-secret
